@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background-color: #FBE8A6;
}

.dosis {
  font-family: "Dosis", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

:root {
    --color_1 : #FBE8A6;
    --color_2 : #F4976C;
    --color_3 : #303C6C;
    --color_4 : #B4DFE5;
    --color_5 : #D2FDFF;
    --blur-background : rgb(255, 228, 196, 0.7);
}